---
title: 'Post'
layout: layouts/base
---
<div class="post-header">
  <h1 id="post-heading">{{ title }}</h1>
  <h2 id="post-subtitle">{{ subtitle }}</h2>
  <span id="post-date">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10zM5 8V6h14v2H5z"/>
      <path d="M0 0h24v24H0z" fill="none"/>
    </svg>
    {{- date | dateToString: "LLL dd, yyyy" -}}</span>
</div>

{% if image %}
    <div class="main-image-wrapper">
      <img class="main-image" src="{{ image | url }}" alt="{{ title }} - Main image">
    {% if imageAttrib %}
      <span class="main-image-attribution">{{ imageAttrib }}</span>
    {% endif %}
  </div>
{% endif %}

<article>
  {{ content }}
</article>