<div class="listing-container">
    <a href="{{ url | url }}" class="listing" aria-label="{{ data.title }}">
        <span class="date">{{- data.date | dateToString: "LLL dd, yyyy" -}}</span>
        <h1 class="title">{{ data.title }}</h1>
        <span class="subtitle">{{ data.subtitle }}</span>
    </a>
</div>